@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #d2ddf6;
  height: 100vh;
  display: grid;
  place-items: center;
  color: #12163c;
  font-size: 16px;
}

article {
  display: flex;
  flex-direction: column;
  background: #f6f9ff;
  border-radius: 60px;
  box-shadow: 10px 10px 0px 0px rgba(229, 237, 255, 1);
  max-width: 62.25rem;
  height: auto;
}

header {
  display: flex;
  flex-direction: column;
  padding: 5.125rem;
  padding-bottom: 0;
  gap: 0.5rem;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.5625rem;
}

header > p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6875rem;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 5.125rem;
  gap: 5.125rem;
}

.pie {
  position: relative;
  width: 12.875rem;
  height: 12.875rem;
  margin: 0 auto;
}

.pie > canvas {
  width: 12.875rem;
  height: 12.875rem;
  filter: drop-shadow(5px 5px 2px #dae4ff);
}

.pie > p {
  position: absolute;
  top: calc(50% - 1.125rem / 2);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6875rem;
  text-align: center;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 32.3125rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6875rem;
}

.data-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  height: 1.125rem;
  /* background: #6792ff; */
  border-radius: 4px;
  display: inline-block;
  margin-right: 0.625rem;
}

.value {
  text-align: start;
  width: 5rem;
  display: inline-block;
}

.seemore {
  color: #1a52e1;
  text-align: right;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.seemore:hover {
  text-decoration: none;
  border: 1px solid #1a52e1;
}

@media (max-width: 720px) {
  body {
    font-size: 11px;
  }

  .container {
    flex-direction: column;
    padding: 2.5625rem;
  }
}
